<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<!-- création du bloc "title" avec "TCH : Mon site" comme contenu par défaut -->
        <title>{% block title %}TCH : Mon site{% endblock %}</title>
        {% block stylesheets %}
		<!-- appel du CSS situé dans web/css/bootstrap.css -->
		<link rel="stylesheet" href="{{asset('css/bootstrap.css')}}" type="text/css" />
		{% endblock %}
    </head>
    <body>
        <div class="container">
			<div id="header" class="hero-unit">
				<h1>
					<center>
						<img src="http://localhost/TCH_Symfony/web/img/Logo_Gsb.png" alt="logo_Gsb" />
					</center>
				</h1>
			</div>
			<div class="row">
				<div id="menu" class="span3">
					<h3>
						Menu
					</h3>
					<ul class="nav nav-pills nav-stacked">
					{# Utilisation de la fonction {{path}} pour faire des liens vers d'autres routes #}
						<li><a href="{{path('SiteGKTGSB_accueil')}}">Accueil du site</a></li>
						<li><a href="{{path('SiteGKTGSB_listemedicament')}}">Liste des médicaments</a></li>
						<li><a href="{{path('SiteGKTGSB_listefamille')}}">Liste des familles</a></li>
						<li><a href="{{path('SiteGKTGSB_listecomposition')}}">Liste des compositions</a></li>
						<li><a href="{{path('SiteGKTGSB_AjouterComposition')}}">Ajouter une composition</a></li>
						<li><a href="{{path('SiteGKTGSB_AjouterFamille')}}">Ajouter une famille</a></li>
				</div>
				<div id="content" class="span9">
					<!-- Création du bloc "body" sans contenu par défaut -->
					{% block body %}
					{% endblock %}
				</div>
			</div>
			<hr>
			<footer>
				<p>BTS SIO - Option SLAM</p>
			</footer>
		</div>http://localhost/TCH_Symfony/web/uploads/img/17.png
    </body>
</html>
